@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background-color: aliceblue;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(150, 91, 234);
    padding: 20px;
    font-size: 20px;
}
#ic{
    margin-right:20px ;
}
.navbar input{
    width: 13cm;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: transparent;
    font-size:large;
    padding-left: 15px;
    padding-right: 15px;
}
.All{
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-evenly;
    margin: 30px 0;
}
.Catagory a{
    text-decoration: none;
    font-size: x-large; 
    color: Black;  
    font-weight: 500;
}
.Catagory{
    background-color:white;
    border: 2px solid wheat;
    padding: 20px 0; 
}
.digital{
    background-image: url(./logos/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.digital  img{
    width: 30%;
    height: 90%;
    background-color: none;
}
h1{
    margin-left: 2%;
}
.SP{
    margin-left: 2%;
    margin-top: 50px;
    text-align:center ;
    display:flex;
    flex-wrap: wrap;
    gap: 2.5rem;    
}
.rows{
    background-color: white;
}
.rows img{
    width: 240px ;
}
@media (max-width:1220px){
    .Catagory {
        font-size: 10px;
    }
    .Catagory a{
        font-size:20px ;
    }
    .SP{
        margin-left: 6%;
    }
}
@media(max-width:900px){
    .digital h1{
        font-size: 30px;
    }
    .navbar input{
        width: 7cm;
    }
}

@media(max-width:700px){
    .digital h1{
        font-size: 31px;               
    }
    .digital img{
        width: 100px;
        height: 140px;
    }
    .navbar input{
        width: 6cm;
    }
    .SP{
        margin-left: 10%;
    }
    .navbar a{
        font-size: 10px;
    }
}
